<article class="post">
    <div class="title">
        <h4>{{ title }}</h4>
    </div>
    <div class="meta">
        {{ user.username }}
        |
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        <br />
        <p>{{ body }}</p>
    </div>
</article>